.product__discount {
    background: #0087f2;
}
.bg-success {
    background-color: #0087f2!important;
}
.btn-success {
    background-color: #0087f2;
    border-color: #0087f2;
}
.btn-success hover {
    background-color: #0087f2;
    border-color: #0087f2;
}
/*
.xserver__title a:hover {
    color: #0087f2!important;
} 
.xserver__links a:hover {
    color: #0087f2!important;
}
.footer-link__item a {
    color: #0087f2!important;
}*/
a {
    color: #0087f2
}
a:focus,a:hover {
    color: #0087f2;
}
.product__servers {
    color: #0087f2;
}

.btn-info {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-info:hover {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-info.focus,.btn-info:focus {
    -webkit-box-shadow: 0 0 0 2px #0087f2;
    box-shadow: 0 0 0 2px #0087f2
}

.btn-info.disabled,.btn-info:disabled {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-info.active,.btn-info:active,.show>.btn-info.dropdown-toggle {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-success {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-success:hover {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-success.focus,.btn-success:focus {
    -webkit-box-shadow: 0 0 0 2px #0087f2;
    box-shadow: 0 0 0 2px #0087f2
}

.btn-success.disabled,.btn-success:disabled {
    background-color: #0087f2;
    border-color: #0087f2
}

.btn-success.active,.btn-success:active,.show>.btn-success.dropdown-toggle {
    background-color: #0087f2;
    border-color: #0087f2
}