/*подгон мониторов*/
@media (min-width: 768px) and (max-width: 992px) {
  
  .animated .header {
    top: -29px;
	}
  .push-xl-3, .pull-xl-9 {
    left: 107px;
}
} 
@media (min-width: 768px) and (max-width: 1199px) {
  	.navbar {
    top: -70px;
    z-index: 1000000;
    background: url(https://pic.moscow.ovh/images/2019/10/24/440b1217b096b15c17e2edaca08efae4.gif) repeat-y;
    background-size: 100% auto;
}
  .navbar-toggleable-md, .navbar-toggleable-md .navbar-nav {
    text-align: left !important;
}
  .navbar:before {
    background: url(https://pic.moscow.ovh/images/2019/10/24/aff887a86d44e91dee4159a61432de97.png) repeat-x 0 2px;
  }
  .xbox {
    top: -70px;
    right: 108px;
}
    .header__image {
	width: 1009px;
    height: 330px;
    margin-left: -22.5%;
    max-width: unset;
    }
  
  #snows{
    display: none;
  }
  .pl {
    display: none;
}
  .xbox .xbox_custom {
    display: none;
}
  .ml-auto > ul {
    width: 250px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
  	.navbar {
    background: url(https://pic.moscow.ovh/images/2019/10/24/1ff7b694d567594ab10eb58334d23c09.png) no-repeat 0 0;
    background-size: cover;
    margin: -379px 783px 24px !important;
    top: 343px;
    height: 301px;
    width: 203px;
}
  .navbar:before {    
    background: url(https://pic.moscow.ovh/images/2019/10/24/da7be7ff9351b1b418b37e63ff51f9e0.png) no-repeat -9px 0;
    background-size: cover;
  }
  .navbar-toggleable-md, .navbar-toggleable-md .navbar-nav {
    text-align: left !important;
    background-size: 100% auto !important;
}
  .navbar-brand {
    display: none;
  }
  .xbox {
    top: 0px;
    right: -30px;
}
    .header__image {
    width: 956px;
    height: 300px;
    margin-left: 0;
    max-width: unset;
    }
  .pl {
    display: none;
}
  .xbox .xbox_custom {
    display: none;
}
  .ml-auto > ul {
    width: unset;
}
  .changeserver {
    left: 331px;
    top: -260px;
    width: 587px;
    height: 44px;
}
  .pull-xl-9 {
    right: 75%;
}
  .col-lg-4 {
    max-width: 24.333333% !important;
}
.push-xl-3 {
    left: 15%;
}
}
@media (min-width: 576px)
.modal-sm {
    max-width: 301px;
}
@media (min-width: 1200px) {
  	.navbar {
    background: url(https://pic.moscow.ovh/images/2019/10/24/1ff7b694d567594ab10eb58334d23c09.png) no-repeat 0 0;
    background-size: cover;
    margin: -415px 996px 20px !important;
    top: 360px;
    height: 340px;
    width: 204px;
    z-index: 1 !important;
}
  .navbar:before {
    background: url(https://pic.moscow.ovh/images/2019/10/24/da7be7ff9351b1b418b37e63ff51f9e0.png) no-repeat -10px 0;
    background-size: cover;
  }
  .navbar-toggleable-md, .navbar-toggleable-md .navbar-nav {
    text-align: left !important;
}
  .xbox {
    top: 0px;
}
    .header__image {
      width: 1110px;
      height: 352px;
      max-width: unset;
      margin-left: 0;
    }
  #snow{
    display: none;
  }
    .changeserver {
    left: 296px;
    top: -258px;
    width: 800px;
    height: 46px;
}
  .pull-xl-9 {
    right: 84%;
}
.push-xl-3 {
    left: 15%;
}
  
}
@media (max-width: 767px) {
    /*Картинка шапки в мобильной версии*/
  .header__image {
    width: 757px;
    height: 238px;
    margin-left: -21.5%;
    max-width: 132%;
}
  .header {
    top: 35px;
}
    
  .navbar {
    background: url(https://pic.moscow.ovh/images/2019/10/24/440b1217b096b15c17e2edaca08efae4.gif) repeat-y;
    background-size: 100% auto;
}
  .navbar-toggleable-md, .navbar-toggleable-md .navbar-nav {
    text-align: left !important;
}
  .navbar:before {
    background: url(https://pic.moscow.ovh/images/2019/10/24/aff887a86d44e91dee4159a61432de97.png) repeat-x 0 2px;
  }
  .xbox {
    top: -2px;
    right: 85px;
	}
  .pl {
    display: none;
}
  .title {
    display: none;
}
 	.xbox .xbox_custom {
    display: none;
}
  .ml-auto > ul {
   width: 250px;
}
  .footer {
    display: none;
}
  .xbox_vk-member-reward .xbox__footer1 {
    left: 393px;
    top: -23752px;
    width: 109px;
  }
  .changeserver {
    left: 12px;
    top: -13677px;
    width: 514px;
    height: 46px;
}
  .nav-item:nth-child(4) {
    display: none;
}
  .push-xl-3, .pull-xl-9 {
    left: 85px;
}
}
/*@media (min-width: 0px) and (max-width: 575px) {
  .xbox_vk-member-reward .xbox__footer1 {
    position: fixed
    left: 393px;
    top: -17070px;
    width: 109px;
  }
}*/