
.qiwi-inp-form {
    margin: 0.5%;
}
.oplata_info {
    display: flex;
    justify-content: center;
}
.qiwi-widget-title::selection,.qiwi-widget-title p::selection,.qiwi-donation-amount::selection,.qiwi-label::selection {
    background: #ff8c00;;
}

@media (max-width: 992px) {
  .oplata_info {
    display: grid;
    justify-content: center;
}
  .qiwi-inp-form {
    margin-bottom: 15px;
}
  .qiwi-inp-main {
    width: 250px!important;
}
}
.qiwi-inp-main {
    display: flex;
    flex-direction: column;
    width: 204px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.qiwi-widget-title {
    margin-top: 10px;
    height: 44px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 900;
    text-align: center;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qiwi-widget-title p {
    font-size: 13px;
    color: #9a9a9a;
    font-weight: normal;
}
.qiwi-inp-box {
    color: #000;
    margin: 0px 30px;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.qiwi-submit-main {
    outline: none !important;
    box-shadow: 0 12px 15px 0 rgba(255,140,0,.2);
    /*display: block;*/
    margin: 24px auto 0;
    width: 100%;
    height: 48px;
    border-radius: 100px;
    background-color: #ff8c00;
    line-height: 47px;
    font-size: 16px;
    font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0,0,0,.14);
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}
#qiwi-inp-cent .qiwi-submit-main {
    box-shadow: 0 12px 15px 0 rgb(6,117,248,0.46);
    background-color: rgba(6,117,248,1);
}

#unitpay-submit-main {
    margin: 0px;
}

.qiwi-inp-other {
    background-color: #464a4c;
    border: 1px solid #2b343a;
    color: #eceeef;
}

.qiwi-inp-other .qiwi-inp-box,
.qiwi-inp-other .qiwi-widget-title {
    color: #eceeef;
}

.qiwi-inp-other .qiwi-submit-main {
    box-shadow: 0 12px 15px 0 #656565;
    background-color: #7e7e7e;

}

.qiwi-inp-other-img {
    width: 30%;
    margin-top: 15px;
}

.skinsback-create-main .qiwi-inp-other {
    background: linear-gradient(rgba(70,74,76,0.70),rgba(70,74,76,0.40)),url(https://i.imgur.com/Gg3G6cK_d.png?maxwidth=320&fidelity=low);
    /* background-position: 50% 100%; */
    background-size: cover;
    /* background-attachment: fixed; */
    /* overflow-y: overlay; */
}

.skinsback-create-main .qiwi-submit-main {
    box-shadow: none;
    background-color: transparent;
}
.skinsback-create-main .qiwi-submit-main:hover {
    box-shadow: 0 12px 15px 0 rgba(255,140,0,.2);
    background-color: rgba(126,126,126,0.52);
}
.skinsback-create-main p {
    font-size: 13px;
}


.qiwi-error-box {
    left: 0;
    bottom: -14px;
    height: 13px;
    text-align: center;
}
.qiwi-button-box {
    padding: 0px 29px 20px;
}
.skinsback-create-main .qiwi-button-box {
    padding-top: 73px;
}
.qiwi-rub {
    position: absolute;
    right: 10px;
    bottom: 34%;
    width: 12px;
    height: 22px;
    opacity: .5;
    font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: inherit;
    pointer-events: none;
}

.qiwi-donation-amount {
	outline:none;
    margin: 25px auto 5px;
    width: 100%;
    font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: inherit;
    padding: 0 16px 0 0;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: none;
    background-color: transparent;
    padding-left: 0.8rem;
}

.qiwi-donation-amount:focus {
    border-bottom: 1px solid #ff8c00;
}

.qiwi-label {
    left: 13px;
    bottom: 44px;
    position: absolute;
    font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-align: left;
    color: inherit;
    pointer-events: none;
}


.qiwi-donation-amount:focus~.qiwi-label {
    -webkit-transform: scale(0.65) translate(-23px,-40px);
    -moz-transform: scale(0.65) translate(-23px,-40px);
    -ms-transform: scale(0.65) translate(-23px,-40px);
    -o-transform: scale(0.65) translate(-23px,-40px);
    transform: scale(0.65) translate(-23px,-40px);
    opacity: 0.7;
    color: red;
}

.payment-block {
    width: 203px;
    height: 18px;
    margin: 17px auto 0;
    width: 192px;
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: justify;
    margin: 0px auto 7px;
}
.payment-type {
    text-align: left;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    vertical-align: middle;
    margin: 0px 16px;
}
.payment-block-visa {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='12'%3E%3Cpath d='M13.333.483l-4.595 11.24H5.744L3.487 2.914a1.247 1.247 0 00-.666-1.03A11.7 11.7 0 00.03.854L.092.442h4.81a1.397 1.397 0 011.303 1.195l1.19 6.316L10.338.442l2.995.04zm11.693 7.552c0-2.895-3.99-3.09-3.96-4.348 0-.391.38-.814 1.2-.917.958-.09 1.922.08 2.79.495L25.55.936a7.57 7.57 0 00-2.646-.484c-2.79 0-4.76 1.494-4.78 3.627 0 1.576 1.405 2.462 2.472 2.987 1.067.526 1.467.887 1.467 1.36 0 .742-.883 1.03-1.693 1.03a5.896 5.896 0 01-2.933-.638l-.513 2.41a8.53 8.53 0 003.149.588c2.974 0 4.913-1.473 4.923-3.76l.03-.021zm7.353 3.71h2.616L32.738.482h-2.41a1.416 1.416 0 00-1.2.937l-4.246 10.303h2.964l.595-1.875h3.63l.308 1.896zM29.251 7.51l1.487-4.122.862 4.122h-2.349zM17.354.483l-2.339 11.24h-2.83L14.533.483h2.82z' opacity='.25'/%3E%3C/svg%3E%0A");
    width: 38px;
    height: 13px;
}

.payment-block-mastercard {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='16'%3E%3Cdefs%3E%3Cpath id='a' d='M15.2.247H.09v15.207H15.2z'/%3E%3Cpath id='c' d='M15.11.247H.001v15.207H15.11z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' opacity='.25'%3E%3Cg transform='translate(9.153 .01)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M2.985 13.836A7.608 7.608 0 005.88 7.85a7.606 7.606 0 00-2.894-5.985A7.492 7.492 0 017.645.247c4.172 0 7.555 3.404 7.555 7.604s-3.383 7.603-7.555 7.603a7.492 7.492 0 01-4.66-1.618zM.27 9.505zM.092 7.69z' mask='url(%23b)'/%3E%3C/g%3E%3Cg transform='translate(-.077 .01)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23c'/%3E%3C/mask%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M15.11 7.85c0 4.2-3.382 7.604-7.555 7.604-4.172 0-7.554-3.404-7.554-7.603C0 3.65 3.383.247 7.555.247c4.173 0 7.555 3.404 7.555 7.604z' mask='url(%23d)' opacity='.4'/%3E%3C/g%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M12.138 1.876A7.606 7.606 0 009.244 7.86a7.608 7.608 0 002.894 5.987 7.608 7.608 0 002.895-5.987 7.606 7.606 0 00-2.895-5.985' opacity='.4'/%3E%3C/g%3E%3C/svg%3E");
    width: 24px;
    height: 16px;
}

.payment-block-mir {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='12'%3E%3Cg opacity='.25'%3E%3Cpath d='M7.035 6.844h-.244L5.367 1.768A1.958 1.958 0 003.489.318H.077v11.045h3.417V4.838h.257l1.952 6.526h2.443l1.941-6.526h.244v6.526h3.417V.318h-3.413c-.87-.001-1.636.59-1.878 1.45L7.035 6.844zM27.172.318h-7.563c.47 2.613 2.683 4.511 5.267 4.52h5.878A3.857 3.857 0 0030 1.709 3.636 3.636 0 0027.172.318zM15.214.318h3.417v11.045h-3.417zM30.847 11.368l-2.426-3.74a3.728 3.728 0 002.214-2.286H20.1v6.021h3.398v-3.49h1.635l1.791 3.519 3.922-.024z'/%3E%3C/g%3E%3C/svg%3E");
    width: 33px;
    height: 13px;
}
.payment-block-qiwi {
	background-image: url("data:image/svg+xml,%3Csvg width='28' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.486 6.53l-.87-1.046a.169.169 0 01.13-.276h1.82c.087-.259.136-.534.136-.821 0-1.311-.976-2.442-2.315-2.442-1.34 0-2.316 1.13-2.316 2.442 0 1.312.976 2.426 2.316 2.426.405 0 .777-.103 1.1-.283zM9.424 8.3c.095.104.017.273-.125.273H7.312a.271.271 0 01-.21-.098l-.337-.405a4.355 4.355 0 01-2.378.704A4.392 4.392 0 010 4.387 4.392 4.392 0 014.387 0a4.391 4.391 0 014.386 4.387 4.36 4.36 0 01-.697 2.369L9.424 8.3zM27.78.202h-1.622a.215.215 0 00-.215.216v7.939c0 .119.096.215.215.215h1.622c.12 0 .216-.096.216-.215V.417a.216.216 0 00-.216-.215zm-2.729 0h-1.814a.216.216 0 00-.207.151l-1.435 4.692L20.017.348a.216.216 0 00-.205-.146h-1.266a.216.216 0 00-.205.146l-1.577 4.697L15.328.353a.216.216 0 00-.206-.151h-1.815a.213.213 0 00-.205.282l2.665 7.943c.03.087.112.146.205.146h1.44a.215.215 0 00.205-.146l1.562-4.64 1.563 4.64c.029.087.111.146.204.146h1.44a.216.216 0 00.205-.146L25.256.484a.213.213 0 00-.205-.282zM12.416.418v7.939a.216.216 0 01-.216.215h-1.622a.216.216 0 01-.215-.215V.417c0-.119.096-.215.215-.215H12.2c.12 0 .216.096.216.216z' fill='%23000' fill-rule='evenodd' fill-opacity='.25'/%3E%3C/svg%3E");
    width: 41px;
    height: 13px;
    margin: 0 26px;
}
.payment-block-cent {
    background-image: url("data:image/svg+xml,%3Csvg width='125' height='26' viewBox='0 0 125 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.712 11.608C42.404 11.2853 42.0813 11.0287 41.744 10.838C41.4067 10.6473 41.062 10.552 40.71 10.552C40.226 10.552 39.7933 10.64 39.412 10.816C39.0307 10.992 38.7007 11.2267 38.422 11.52C38.158 11.8133 37.9527 12.1507 37.806 12.532C37.674 12.9133 37.608 13.3093 37.608 13.72C37.608 14.1307 37.674 14.5267 37.806 14.908C37.9527 15.2893 38.158 15.6267 38.422 15.92C38.7007 16.2133 39.0307 16.448 39.412 16.624C39.7933 16.8 40.226 16.888 40.71 16.888C41.1207 16.888 41.502 16.8073 41.854 16.646C42.206 16.47 42.5067 16.2207 42.756 15.898L44.516 17.79C44.252 18.054 43.944 18.2813 43.592 18.472C43.2547 18.6627 42.91 18.8167 42.558 18.934C42.206 19.0513 41.8687 19.132 41.546 19.176C41.2233 19.2347 40.9447 19.264 40.71 19.264C39.918 19.264 39.17 19.132 38.466 18.868C37.762 18.604 37.1533 18.23 36.64 17.746C36.1267 17.262 35.716 16.6827 35.408 16.008C35.1147 15.3187 34.968 14.556 34.968 13.72C34.968 12.884 35.1147 12.1287 35.408 11.454C35.716 10.7647 36.1267 10.178 36.64 9.694C37.1533 9.21 37.762 8.836 38.466 8.572C39.17 8.308 39.918 8.176 40.71 8.176C41.3847 8.176 42.0593 8.308 42.734 8.572C43.4233 8.82133 44.0247 9.22467 44.538 9.782L42.712 11.608ZM48.2213 14.644C48.3093 15.436 48.6173 16.052 49.1453 16.492C49.6733 16.932 50.3113 17.152 51.0593 17.152C51.7193 17.152 52.2693 17.02 52.7093 16.756C53.1639 16.4773 53.5599 16.1327 53.8973 15.722L55.7893 17.152C55.1733 17.9147 54.4839 18.4573 53.7213 18.78C52.9586 19.1027 52.1593 19.264 51.3233 19.264C50.5313 19.264 49.7833 19.132 49.0793 18.868C48.3753 18.604 47.7666 18.23 47.2533 17.746C46.7399 17.262 46.3293 16.6827 46.0213 16.008C45.7279 15.3187 45.5813 14.556 45.5813 13.72C45.5813 12.884 45.7279 12.1287 46.0213 11.454C46.3293 10.7647 46.7399 10.178 47.2533 9.694C47.7666 9.21 48.3753 8.836 49.0793 8.572C49.7833 8.308 50.5313 8.176 51.3233 8.176C52.0566 8.176 52.7239 8.308 53.3253 8.572C53.9413 8.82133 54.4619 9.188 54.8873 9.672C55.3273 10.156 55.6646 10.7573 55.8993 11.476C56.1486 12.18 56.2733 12.994 56.2733 13.918V14.644H48.2213ZM53.6333 12.664C53.6186 11.8867 53.3766 11.278 52.9073 10.838C52.4379 10.3833 51.7853 10.156 50.9493 10.156C50.1573 10.156 49.5266 10.3833 49.0573 10.838C48.6026 11.2927 48.3239 11.9013 48.2213 12.664H53.6333ZM58.7421 8.44H61.2501V10.134H61.2941C61.5434 9.606 61.9248 9.15133 62.4381 8.77C62.9514 8.374 63.6481 8.176 64.5281 8.176C65.2321 8.176 65.8261 8.29333 66.3101 8.528C66.8088 8.76267 67.2121 9.07067 67.5201 9.452C67.8281 9.83333 68.0481 10.2733 68.1801 10.772C68.3121 11.2707 68.3781 11.7913 68.3781 12.334V19H65.7381V13.654C65.7381 13.3607 65.7234 13.038 65.6941 12.686C65.6648 12.3193 65.5841 11.982 65.4521 11.674C65.3348 11.3513 65.1441 11.0873 64.8801 10.882C64.6161 10.662 64.2568 10.552 63.8021 10.552C63.3621 10.552 62.9881 10.6253 62.6801 10.772C62.3868 10.9187 62.1374 11.1167 61.9321 11.366C61.7414 11.6153 61.6021 11.9013 61.5141 12.224C61.4261 12.5467 61.3821 12.884 61.3821 13.236V19H58.7421V8.44ZM70.1429 10.684V8.44H72.3209V5.382H74.9609V8.44H77.8649V10.684H74.9609V15.304C74.9609 15.832 75.0562 16.25 75.2469 16.558C75.4522 16.866 75.8482 17.02 76.4349 17.02C76.6696 17.02 76.9262 16.998 77.2049 16.954C77.4836 16.8953 77.7036 16.8073 77.8649 16.69V18.912C77.5862 19.044 77.2416 19.132 76.8309 19.176C76.4349 19.2347 76.0829 19.264 75.7749 19.264C75.0709 19.264 74.4916 19.1833 74.0369 19.022C73.5969 18.8753 73.2449 18.648 72.9809 18.34C72.7316 18.0173 72.5556 17.6213 72.4529 17.152C72.3649 16.6827 72.3209 16.14 72.3209 15.524V10.684H70.1429ZM79.9257 17.46C79.9257 16.9907 80.0944 16.5873 80.4317 16.25C80.7837 15.9127 81.2017 15.744 81.6857 15.744C82.155 15.744 82.5657 15.9053 82.9177 16.228C83.2697 16.5507 83.4457 16.9467 83.4457 17.416C83.4457 17.8853 83.2697 18.2887 82.9177 18.626C82.5804 18.9633 82.1697 19.132 81.6857 19.132C81.451 19.132 81.2237 19.088 81.0037 19C80.7984 18.912 80.615 18.7947 80.4537 18.648C80.2924 18.5013 80.1604 18.3253 80.0577 18.12C79.9697 17.9147 79.9257 17.6947 79.9257 17.46Z' fill='%23859DBD'/%3E%3Cpath d='M93.0355 17.548H92.9695C92.5881 18.1493 92.1041 18.5893 91.5175 18.868C90.9308 19.132 90.2855 19.264 89.5815 19.264C89.0975 19.264 88.6208 19.198 88.1515 19.066C87.6968 18.934 87.2861 18.736 86.9195 18.472C86.5675 18.208 86.2815 17.878 86.0615 17.482C85.8415 17.086 85.7315 16.624 85.7315 16.096C85.7315 15.524 85.8341 15.04 86.0395 14.644C86.2448 14.2333 86.5161 13.896 86.8535 13.632C87.2055 13.3533 87.6088 13.1333 88.0635 12.972C88.5181 12.8107 88.9875 12.6933 89.4715 12.62C89.9701 12.532 90.4688 12.4807 90.9675 12.466C91.4661 12.4367 91.9355 12.422 92.3755 12.422H93.0355V12.136C93.0355 11.476 92.8081 10.9847 92.3535 10.662C91.8988 10.3247 91.3195 10.156 90.6155 10.156C90.0581 10.156 89.5375 10.2587 89.0535 10.464C88.5695 10.6547 88.1515 10.9187 87.7995 11.256L86.4135 9.87C87.0001 9.26867 87.6821 8.836 88.4595 8.572C89.2515 8.308 90.0655 8.176 90.9015 8.176C91.6495 8.176 92.2801 8.264 92.7935 8.44C93.3068 8.60133 93.7321 8.814 94.0695 9.078C94.4068 9.342 94.6635 9.65 94.8395 10.002C95.0301 10.3393 95.1621 10.684 95.2355 11.036C95.3235 11.388 95.3748 11.7327 95.3895 12.07C95.4041 12.3927 95.4115 12.6787 95.4115 12.928V19H93.0355V17.548ZM92.8815 14.27H92.3315C91.9648 14.27 91.5541 14.2847 91.0995 14.314C90.6448 14.3433 90.2121 14.4167 89.8015 14.534C89.4055 14.6367 89.0681 14.798 88.7895 15.018C88.5108 15.2233 88.3715 15.5167 88.3715 15.898C88.3715 16.1473 88.4228 16.36 88.5255 16.536C88.6428 16.6973 88.7895 16.8367 88.9655 16.954C89.1415 17.0713 89.3395 17.1593 89.5595 17.218C89.7795 17.262 89.9995 17.284 90.2195 17.284C91.1288 17.284 91.7961 17.0713 92.2215 16.646C92.6615 16.206 92.8815 15.612 92.8815 14.864V14.27ZM98.2519 8.44H100.76V10.024H100.804C101.185 9.37867 101.699 8.90933 102.344 8.616C102.989 8.32267 103.686 8.176 104.434 8.176C105.241 8.176 105.967 8.32267 106.612 8.616C107.257 8.89467 107.807 9.28333 108.262 9.782C108.717 10.2807 109.061 10.8673 109.296 11.542C109.531 12.2167 109.648 12.9427 109.648 13.72C109.648 14.4973 109.523 15.2233 109.274 15.898C109.025 16.5727 108.673 17.1593 108.218 17.658C107.778 18.1567 107.243 18.5527 106.612 18.846C105.981 19.1247 105.292 19.264 104.544 19.264C104.045 19.264 103.605 19.2127 103.224 19.11C102.843 19.0073 102.505 18.8753 102.212 18.714C101.919 18.5527 101.669 18.384 101.464 18.208C101.259 18.0173 101.09 17.834 100.958 17.658H100.892V24.016H98.2519V8.44ZM107.008 13.72C107.008 13.3093 106.935 12.9133 106.788 12.532C106.656 12.1507 106.451 11.8133 106.172 11.52C105.908 11.2267 105.585 10.992 105.204 10.816C104.823 10.64 104.39 10.552 103.906 10.552C103.422 10.552 102.989 10.64 102.608 10.816C102.227 10.992 101.897 11.2267 101.618 11.52C101.354 11.8133 101.149 12.1507 101.002 12.532C100.87 12.9133 100.804 13.3093 100.804 13.72C100.804 14.1307 100.87 14.5267 101.002 14.908C101.149 15.2893 101.354 15.6267 101.618 15.92C101.897 16.2133 102.227 16.448 102.608 16.624C102.989 16.8 103.422 16.888 103.906 16.888C104.39 16.888 104.823 16.8 105.204 16.624C105.585 16.448 105.908 16.2133 106.172 15.92C106.451 15.6267 106.656 15.2893 106.788 14.908C106.935 14.5267 107.008 14.1307 107.008 13.72ZM112.109 8.44H114.617V10.024H114.661C115.043 9.37867 115.556 8.90933 116.201 8.616C116.847 8.32267 117.543 8.176 118.291 8.176C119.098 8.176 119.824 8.32267 120.469 8.616C121.115 8.89467 121.665 9.28333 122.119 9.782C122.574 10.2807 122.919 10.8673 123.153 11.542C123.388 12.2167 123.505 12.9427 123.505 13.72C123.505 14.4973 123.381 15.2233 123.131 15.898C122.882 16.5727 122.53 17.1593 122.075 17.658C121.635 18.1567 121.1 18.5527 120.469 18.846C119.839 19.1247 119.149 19.264 118.401 19.264C117.903 19.264 117.463 19.2127 117.081 19.11C116.7 19.0073 116.363 18.8753 116.069 18.714C115.776 18.5527 115.527 18.384 115.321 18.208C115.116 18.0173 114.947 17.834 114.815 17.658H114.749V24.016H112.109V8.44ZM120.865 13.72C120.865 13.3093 120.792 12.9133 120.645 12.532C120.513 12.1507 120.308 11.8133 120.029 11.52C119.765 11.2267 119.443 10.992 119.061 10.816C118.68 10.64 118.247 10.552 117.763 10.552C117.279 10.552 116.847 10.64 116.465 10.816C116.084 10.992 115.754 11.2267 115.475 11.52C115.211 11.8133 115.006 12.1507 114.859 12.532C114.727 12.9133 114.661 13.3093 114.661 13.72C114.661 14.1307 114.727 14.5267 114.859 14.908C115.006 15.2893 115.211 15.6267 115.475 15.92C115.754 16.2133 116.084 16.448 116.465 16.624C116.847 16.8 117.279 16.888 117.763 16.888C118.247 16.888 118.68 16.8 119.061 16.624C119.443 16.448 119.765 16.2133 120.029 15.92C120.308 15.6267 120.513 15.2893 120.645 14.908C120.792 14.5267 120.865 14.1307 120.865 13.72Z' fill='%230687F8'/%3E%3Cpath d='M12.5 26C19.4036 26 25 20.4036 25 13.5C25 6.59644 19.4036 1 12.5 1C5.59644 1 0 6.59644 0 13.5C0 20.4036 5.59644 26 12.5 26Z' fill='%230687F8'/%3E%3C/svg%3E%0A");
    width: 83px;
    height: 21px;
    filter: grayscale(1.5) brightness(1.5);
    margin: 3px 20px;
}
/* .payment-block-applepay {
    width: 35px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512' %3E%3Cpath d='M116.9 158.5c-7.5 8.9-19.5 15.9-31.5 14.9-1.5-12 4.4-24.8 11.3-32.6 7.5-9.1 20.6-15.6 31.3-16.1 1.2 12.4-3.7 24.7-11.1 33.8m10.9 17.2c-17.4-1-32.3 9.9-40.5 9.9-8.4 0-21-9.4-34.8-9.1-17.9.3-34.5 10.4-43.6 26.5-18.8 32.3-4.9 80 13.3 106.3 8.9 13 19.5 27.3 33.5 26.8 13.3-.5 18.5-8.6 34.5-8.6 16.1 0 20.8 8.6 34.8 8.4 14.5-.3 23.6-13 32.5-26 10.1-14.8 14.3-29.1 14.5-29.9-.3-.3-28-10.9-28.3-42.9-.3-26.8 21.9-39.5 22.9-40.3-12.5-18.6-32-20.6-38.8-21.1m100.4-36.2v194.9h30.3v-66.6h41.9c38.3 0 65.1-26.3 65.1-64.3s-26.4-64-64.1-64h-73.2zm30.3 25.5h34.9c26.3 0 41.3 14 41.3 38.6s-15 38.8-41.4 38.8h-34.8V165zm162.2 170.9c19 0 36.6-9.6 44.6-24.9h.6v23.4h28v-97c0-28.1-22.5-46.3-57.1-46.3-32.1 0-55.9 18.4-56.8 43.6h27.3c2.3-12 13.4-19.9 28.6-19.9 18.5 0 28.9 8.6 28.9 24.5v10.8l-37.8 2.3c-35.1 2.1-54.1 16.5-54.1 41.5.1 25.2 19.7 42 47.8 42zm8.2-23.1c-16.1 0-26.4-7.8-26.4-19.6 0-12.3 9.9-19.4 28.8-20.5l33.6-2.1v11c0 18.2-15.5 31.2-36 31.2zm102.5 74.6c29.5 0 43.4-11.3 55.5-45.4L640 193h-30.8l-35.6 115.1h-.6L537.4 193h-31.6L557 334.9l-2.8 8.6c-4.6 14.6-12.1 20.3-25.5 20.3-2.4 0-7-.3-8.9-.5v23.4c1.8.4 9.3.7 11.6.7z' %3E%3C/path%3E%3C/svg%3E");
    filter: invert(0.75);
    margin: 0 8px -1px;
} */
/* .payment-block-steam {
    width: 25px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.411 9.681c0 .924-.751 1.676-1.676 1.676-.924 0-1.676-.752-1.676-1.676s.752-1.676 1.676-1.676c.925 0 1.676.752 1.676 1.676zm1.589 0c0 1.801-1.464 3.282-3.303 3.263l-2.872 2.141-.006.002c-.008 1.369-1.111 2.483-2.485 2.496-1.24.01-2.257-.872-2.484-2.021l-8.962-3.769c-.39.256-.854.409-1.354.414-1.398.012-2.521-1.109-2.534-2.486-.014-1.395 1.113-2.534 2.511-2.534 1.213 0 2.228.863 2.459 2.013l8.971 3.772c.416-.272.896-.418 1.428-.407l2.105-2.946c.033-1.773 1.48-3.202 3.262-3.202 1.802 0 3.264 1.461 3.264 3.264zm-20.794 1.826l-1.226-.515c-.716-.301-1.052-1.125-.751-1.84.301-.716 1.125-1.052 1.841-.751l1.211.509c-.303-.678-.984-1.153-1.77-1.153-1.096.004-1.951.895-1.941 1.958.01 1.044.861 1.926 1.958 1.922.236-.002.464-.048.678-.13zm14.045 3.547c-.01-1.06-.88-1.922-1.939-1.922-.229.001-.455.04-.686.127l1.229.517c.716.301 1.052 1.125.751 1.84-.301.715-1.124 1.052-1.841.751l-1.23-.518c.302.685.985 1.165 1.794 1.162 1.072-.009 1.932-.884 1.922-1.957zm5.703-5.373c0-1.224-.995-2.219-2.219-2.219-1.223 0-2.219.995-2.219 2.219 0 1.223.996 2.219 2.219 2.219 1.224 0 2.219-.996 2.219-2.219z'/%3E%3C/svg%3E");
    filter: invert(0.6) brightness(1.1);
    margin: 0 12px;
} */
.payment-block-crypto {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M11 24v-3.022h-1v3.022h-2v-3.022h-4.969l.5-2.978h1.079c.884 0 1.39-.851 1.39-1.707v-8.889c0-.833-.485-1.404-1.365-1.404h-1.635v-3h5v-3h2v3h1v-3h2v3.053c4.315.146 6.024 1.781 6.514 3.625.58 2.18-.857 4.01-2.093 4.456 1.501.382 3.579 1.491 3.579 4.05 0 3.483-2.688 5.816-8 5.816v3h-2zm-1-11.006v5.006c3.969 0 6.688-.375 6.688-2.516 0-2.296-2.938-2.49-6.688-2.49zm0-1.994c2.211 0 5.578-.156 5.578-2.5 0-2-2.078-2.5-5.578-2.5v5z'/%3E%3C/svg%3E");
    filter: invert(0.6);
    margin: 0 19px;
}
/* .payment-block-cash {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12.164 7.165c-1.15.191-1.702 1.233-1.231 2.328.498 1.155 1.921 1.895 3.094 1.603 1.039-.257 1.519-1.252 1.069-2.295-.471-1.095-1.784-1.827-2.932-1.636zm1.484 2.998l.104.229-.219.045-.097-.219c-.226.041-.482.035-.719-.027l-.065-.387c.195.03.438.058.623.02l.125-.041c.221-.109.152-.387-.176-.453-.245-.054-.893-.014-1.135-.552-.136-.304-.035-.621.356-.766l-.108-.239.217-.045.104.229c.159-.026.345-.036.563-.017l.087.383c-.17-.021-.353-.041-.512-.008l-.06.016c-.309.082-.21.375.064.446.453.105.994.139 1.208.612.173.385-.028.648-.36.774zm10.312 1.057l-3.766-8.22c-6.178 4.004-13.007-.318-17.951 4.454l3.765 8.22c5.298-4.492 12.519-.238 17.952-4.454zm-2.803-1.852c-.375.521-.653 1.117-.819 1.741-3.593 1.094-7.891-.201-12.018 1.241-.667-.354-1.503-.576-2.189-.556l-1.135-2.487c.432-.525.772-1.325.918-2.094 3.399-1.226 7.652.155 12.198-1.401.521.346 1.13.597 1.73.721l1.315 2.835zm2.843 5.642c-6.857 3.941-12.399-1.424-19.5 5.99l-4.5-9.97 1.402-1.463 3.807 8.406-.002.007c7.445-5.595 11.195-1.176 18.109-4.563.294.648.565 1.332.684 1.593z'/%3E%3C/svg%3E");
    filter: invert(0.6);
    margin: 0 12px;
} */
/* .payment-block-beeline {
    width: 18px;
    height: 18px;
    background-image: url("https://i.imgur.com/qY2YCWv.png");
    filter: contrast(0.45) brightness(0.9);
    margin: 0px 8px;
}
.payment-block-megafon {
    width: 18px;
    height: 18px;
    background-image: url("https://i.imgur.com/m4GERHO.png");
    filter: brightness(0.55);
    margin: 0px 8px;
} */
.payment-block-yoomoney {
    width: 25px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 38 28' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5225 0C17.0035 0 11.0225 6.06646 11.0225 13.5C11.0225 21.019 17.0889 27 24.5225 27C31.956 27 38.0225 20.9335 38.0225 13.5C38.1079 6.06646 31.956 0 24.5225 0ZM24.5225 18.5411C21.7883 18.5411 19.4813 16.2342 19.4813 13.5C19.4813 10.7658 21.7883 8.45886 24.5225 8.45886C27.2566 8.45886 29.5636 10.7658 29.5636 13.5C29.5636 16.2342 27.3421 18.5411 24.5225 18.5411Z'%3E%3C/path%3E%3Cpath d='M11.0222 3.93005V23.5819H6.1519L0 3.93005H11.0222Z'%3E%3C/path%3E%3C/svg%3E");
    filter: invert(0.44);
    margin: 0 19px;
}
.payment-block-lava {
    width: 25px;
    height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22Z' fill='black' fill-opacity='0.36'/%3E%3Cpath d='M16.431 18.9275C16.5181 18.8508 16.5616 18.8124 16.5684 18.7748C16.5744 18.7421 16.5653 18.7086 16.5436 18.6834C16.5187 18.6544 16.4627 18.6435 16.3506 18.6217C15.0437 18.3673 13.6907 18.2181 12.5038 18.2057C12.4469 18.2051 12.4184 18.2048 12.3963 18.1942C12.3767 18.1847 12.3606 18.17 12.3495 18.1513C12.337 18.1302 12.3342 18.1021 12.3288 18.0459L11.8887 13.5208C11.8833 13.4646 11.8805 13.4366 11.8889 13.4133C11.8963 13.3928 11.9097 13.3749 11.9272 13.362C11.9472 13.3473 11.9748 13.3419 12.0302 13.3312C18.6598 12.0486 25.2586 11.9828 31.9877 13.3337C32.0428 13.3448 32.0703 13.3503 32.0901 13.3651C32.1075 13.378 32.1208 13.396 32.1281 13.4165C32.1363 13.4398 32.1335 13.4677 32.1279 13.5237L31.6713 18.0466C31.6657 18.1025 31.6629 18.1305 31.6503 18.1515C31.6392 18.1702 31.6231 18.1848 31.6035 18.1942C31.5815 18.2048 31.5531 18.2051 31.4963 18.2057C30.3093 18.2181 28.9561 18.3673 27.6489 18.6217C27.5369 18.6435 27.4809 18.6544 27.456 18.6834C27.4343 18.7086 27.4252 18.7421 27.4311 18.7748C27.438 18.8124 27.4815 18.8508 27.5686 18.9275C30.718 21.7039 32.9454 25.362 32.9954 30.501C32.996 30.5627 32.9963 30.5936 32.9844 30.6173C32.974 30.6381 32.957 30.6553 32.9363 30.6659C32.9127 30.6781 32.8819 30.6781 32.8203 30.6781H28.2834C28.2218 30.6781 28.191 30.6781 28.1676 30.6663C28.1468 30.6558 28.1303 30.6395 28.1196 30.6189C28.1075 30.5957 28.1071 30.5642 28.1062 30.501C28.0474 26.2116 25.8444 23.352 22.0957 20.9041C22.0611 20.8814 22.0438 20.8701 22.025 20.8657C22.0085 20.8618 21.991 20.8618 21.9746 20.8657C21.9558 20.8701 21.9385 20.8814 21.9038 20.9041C18.1551 23.352 15.9522 26.2116 15.8934 30.501C15.8925 30.5642 15.8921 30.5957 15.88 30.6189C15.8692 30.6395 15.8527 30.6558 15.832 30.6663C15.8086 30.6781 15.7778 30.6781 15.7162 30.6781H11.1793C11.1177 30.6781 11.0869 30.6781 11.0633 30.6659C11.0426 30.6553 11.0255 30.6381 11.0151 30.6173C11.0032 30.5936 11.0035 30.5627 11.0041 30.501C11.0541 25.3619 13.2816 21.7039 16.431 18.9275Z' fill='white'/%3E%3C/svg%3E");
    filter: invert(0.44);
    margin: 0 12px;
}
.payment-block-lava:after {
	content:"LAVA";
    padding-left: 25px;
    top: -2px;
}
.payment-block-webmoney {
    width: 24px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='2000' width='64' height='64'%3E%3Cpath d='M31.848.487c4.993 0 9.744 1.144 14.007 3.2.67.302 1.34.663 2.008 1.024L44.94 7.3l-4.382-4.515-7.55 6.62L28.56 4.64 14.675 16.982l8.89 9.692-3.47 3.01 8.77 9.692-3.47 3.008L37.94 56.17l7.425-6.743 6.458 7.226c-1.28.963-2.68 1.928-4.2 2.77a32.11 32.11 0 0 1-15.712 4.09C14.31 63.513 0 49.37 0 31.973-.062 14.694 14.25.487 31.848.487zM26 30.045l7.612-6.743 6.822 7.525-7.614 6.742zm5.42 13.003l7.55-6.802 6.882 7.524-7.613 6.743zM20.584 17.223l7.6-6.743 6.82 7.525-7.613 6.742zM34.527 13.6L40.2 8.554l5.116 5.6-5.664 5.116zm10.1 23.177L50.3 31.73l5.116 5.657-5.664 5.06zm4.993 11.38l5.664-5.058 5.112 5.6-5.662 5.116zm2.315-26.007l3.775-3.372 3.41 3.734-3.774 3.37zm-4.872-11.137l3.775-3.43 3.412 3.792-3.778 3.37zm9.682 22.275l3.775-3.37L64 33.658l-3.835 3.37zm-17-8.368l5.664-5.057 5.114 5.598-5.662 5.058z' fill='%23fff'/%3E%3C/svg%3E");
    filter: invert(.44);
    margin: 0 19px;
}
