@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body
{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #cfd2da;
  background-color: #252830;
}

a
{
	color: #1ca8dd;
}

a:hover
{
	color: #fff;
	text-decoration: none;
}

.center
{
	text-align: center;
}

#ConsoleController .Output
{
	font-family: monospace;
    font-size: 12px;
	white-space: pre-wrap;
}

.scrollable 
{
	overflow: auto;
}

.ng-binding.ng-scope.Error{
	color:red;
}
.ng-binding.ng-scope.Warning{
	color:yellow;
}

.ng-binding.ng-scope.Command{
	color:lime;
    text-align: right;
    margin: 10px;
    display: inline-block;
    background-color: cornflowerblue;
    border-radius: 7px;
    padding: 5px;
}

			
.ng-binding.ng-scope.Chat{
	color:chartreuse;
}
.ng-binding.ng-scope.Exception{
	color:coral;
}
.ng-binding.ng-scope.Report{
	color:blueviolet;
}


.nav-sidebar 
{
	margin-top: 64px;
  margin-right: 16px;
}

.nav-sidebar > li > a 
{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus 
{
  color: #fff;
  background-color: #428bca;
}


@media (min-width: 768px)
.navbar-text {
    margin-right: 13px!important;
}

.fade 
{
	opacity: 0.5;
}

.table > tbody > tr:hover
{
	background-color: rgba( 255, 255, 255, 0.3 );
}

.table > thead > tr > th.sorting 
{
	color: #1bc98e;
	border-color: #1bc98e;
}

.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.btn-default, .btn-default:active, .form-control
{
	background: rgba( 255, 255, 255, 0.3 );
	border: none;
	color: #cfd2da;
	text-shadow: none;
}

.btn-default:hover 
{
	background: #1ca8dd;
	color: #fff;
}

.panel 
{
	background-color: #434857;
}

.chatname
{
	display: block;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 8px;
}

.navbar-default
{
	background-color: #428bca;
    background-image: none;
    border: none;
    border-radius: 0;
    color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover
{
    color: #fff;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover
{
	background-color: rgba( 255, 255, 255, 0.25 );
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a
{
	background-color: white;
	background-image: none;
    border: none;
	color: #428bca;
}

.navbar-info
{
	position: relative;
    display: block;
    padding: 15px;
	line-height: 20px;
}









.TabByCategory {
    padding: 5px 7px 0px 4px;
    margin: 0 5px 10px 0px;
	color: #000;
}
.TabItemMain {
    margin: 0 5px 4px 0px;
	color: #000;
    width: 100px;
    height: 100px;
}
.TabItemMain:active {
    background: #a4a4a4;
    color: #fff;
}
.TabItemMain:focus {
    background: #1ca8dd;
    color: #fff;
}
.TabItemMain:hover {
    background: #6c6c6c;
    color: #fff;
}
.product__image {
    padding: 3%;
    height: 90px;
    pointer-events: none;
    min-block-size: -webkit-fill-available;
    height: -webkit-fill-available;
}
.tabContItemImgP {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: -6px -9px;
    position: absolute;
    width: 100px;
}
.TabByCategory.active {
	background: #1ca8dd;
	color: #fff;
}
.TabContentByCategory {
    margin: 0 0 15px 0;
    display: none;
}
.TabContentByCategory.active {
    display: inline;
}
.tabContItemXall {
    padding: 0;
    font-size: 1rem;
}
.tabContItemX {
    display: flex;
    position: relative;
    opacity: 0%;
    top: -3px;
    right: 7px;
    color: #000;
}
.TabItemMain:hover .tabContItemX {
    opacity: 34%;
}
.tabContItemX:hover {
    opacity: 100%!important;
}
.tabContItemXall:hover {
    border: 1px solid #00000059;
    background-color: #1ca8dd;
}
.alert-give {
    opacity: 0%;
}
#alerts-givemsg {
    max-height: 52.75px;
    overflow-y: auto;
}
.tabContItemXinput {
    width: 32px;
}







